<%- include('./_modules/_header.ejs') %>

<%
  const works = [
    {
      job: 'LP実装', name: 'LEPSIM 夏ビジュアル', url: 'https://www.dot-st.com/lepsim/cp/2024summer',
    },
    {
      job: 'LP実装', name: 'nikoand ミニオンズコラボ LP', url: 'https://www.dot-st.com/nikoand/cp/202406product_zakka',
    },
    {
      job: 'LP実装', name: 'ホラー映画コラボ LP', url: 'https://www.dot-st.com/nikoand/cp/2024horror',
    },
    {
      job: 'LP実装 Canvasアニメーション', name: 'nikoand キン肉マンコラボLP', url: 'https://www.dot-st.com/nikoand/cp/202408product_zakka',
    },
    {
      job: 'LP実装', name: 'nikoand 11ぴきのねこコラボ LP', url: 'https://www.dot-st.com/nikoand/cp/202409product_zakka',
    },
    {
      job: 'LP実装', name: 'RAGEBLUE ノグリラーメン LP', url: 'https://www.dot-st.com/rageblue/cp/neoguri',
    },
    {
      job: 'Wordpress', name: 'BEAMS CULTUARTリニューアル', url: 'https://www.beams.co.jp/special/beams_cultuart/',
    },
  ]
%>

<canvas id="bg-canvas"></canvas>

<div class="main">

  <div>
    <div class="mv">
      <h1 class="mv__ttl">k.miyazaki<br>Portfolio</h1>
    </div>
  </div>

  <!-- <menu class="menu">
    <ul>
      <% works.forEach(({ url, name, job }) => { -%>
      <li>
        <a href="<%- url %>" target="_blank" rel="noopener noreferrer">
          <h3><%- name %></h3>
          <p><%- job %></p>
        </a>
      </li>
      <% }); -%>
    </ul>
  </menu> -->

  <!-- <section id="gallery">
    <h2>GALLERY</h2>
  </section> -->

  <!-- <section id="contact">
    <h2>CONTACT</h2>
    <ul>
      <li>
        <a href="https://github.com/KentaMiyazaki09" target="_blank" rel="noopener noreferrer">Github</a>
      </li>
      <li>
        <a href="https://codepen.io/otsqpesk-the-builder" target="_blank" rel="noopener noreferrer">CodePen</a>
      </li>
      <li>
        <a href="https://zenn.dev/nekoengineer" target="_blank" rel="noopener noreferrer">Zenn</a>
      </li>
    </ul>
  </section> -->

<script src="./assets/js/index.js"></script>

<%- include('./_modules/_footer.ejs') %>